:root {
  /* 主题色 */
  --primary-1: #ddf4ff;
  --primary-2: #b6e3ff;
  --primary-3: #80ccff;
  --primary-4: #54aeff;
  --primary-5: #218bff;
  --primary-6: #0969da;
  --primary-7: #0550ae;
  --primary-8: #033d8b;
  --primary-9: #0a3069;
  --primary-10: #002155;

  /* 中性色 */
  --gray-0: #fff;
  --gray-1: #f6f8fa;
  --gray-2: #eaeef2;
  --gray-3: #d0d7de;
  --gray-4: #afb8c1;
  --gray-5: #8c959f;
  --gray-6: #6e7781;
  --gray-7: #57606a;
  --gray-8: #424a53;
  --gray-9: #32383f;
  --gray-10: #24292f;

  /* 绿色 */
  --green-1: #dafbe1;
  --green-2: #aceebb;
  --green-3: #6fdd8b;
  --green-4: #4ac26b;
  --green-5: #2da44e;
  --green-6: #1a7f37;
  --green-7: #116329;
  --green-8: #044f1e;
  --green-9: #003d16;
  --green-10: #002d11;

  /* 橘色 */
  --orange-1: #fff1e5;
  --orange-2: #ffd8b5;
  --orange-3: #ffb77c;
  --orange-4: #fb8f44;
  --orange-5: #e16f24;
  --orange-6: #bc4c00;
  --orange-7: #953800;
  --orange-8: #762c00;
  --orange-9: #5c2200;
  --orange-10: #471700;

  /* 粉红色 */
  --pink-1: #ffeff7;
  --pink-2: #ffd3eb;
  --pink-3: #ffadda;
  --pink-4: #ff80c8;
  --pink-5: #e85aad;
  --pink-6: #bf3989;
  --pink-7: #99286e;
  --pink-8: #772057;
  --pink-9: #611347;
  --pink-10: #4d0336;

  /* 紫色 */
  --purple-1: #fbefff;
  --purple-2: #ecd8ff;
  --purple-3: #d8b9ff;
  --purple-4: #c297ff;
  --purple-5: #a475f9;
  --purple-6: #8250df;
  --purple-7: #6639ba;
  --purple-8: #512a97;
  --purple-9: #3e1f79;
  --purple-10: #2e1461;

  /* 红色 */
  --red-1: #ffebe9;
  --red-2: #ffcecb;
  --red-3: #ffaba8;
  --red-4: #ff8182;
  --red-5: #fa4549;
  --red-6: #cf222e;
  --red-7: #a40e26;
  --red-8: #82071e;
  --red-9: #660018;
  --red-10: #4c0014;

  /* 黄色 */
  --yellow-1: #fff8c5;
  --yellow-2: #fae17d;
  --yellow-3: #eac54f;
  --yellow-4: #d4a72c;
  --yellow-5: #bf8700;
  --yellow-6: #9a6700;
  --yellow-7: #7d4e00;
  --yellow-8: #633c01;
  --yellow-9: #4d2d00;
  --yellow-10: #3b2300;

  /* 蓝色 */
  --blue-1: #ddf4ff;
  --blue-2: #b6e3ff;
  --blue-3: #80ccff;
  --blue-4: #54aeff;
  --blue-5: #218bff;
  --blue-6: #0969da;
  --blue-7: #0550ae;
  --blue-8: #033d8b;
  --blue-9: #0a3069;
  --blue-10: #002155;

  danger: '#fa4549';
}
